<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>График температуры</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <center>
    <div class="chart">
        <canvas id="myChart"></canvas>
    </div>
    </center>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <script>
    const ctx = document.getElementById('myChart');
    const chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [1,2,3,4,5],
            datasets: [{
                label: 'Датчик 1',
                data: [50,40,25,30,15],
                backgroundColor: ['white'],
                borderColor: 'red',
                borderWidth: 4
            }, {
                label: 'Датчик 2',
                data: [20,30,16,10,20],
                backgroundColor: ['white'],
                borderColor: 'green',
                borderWidth: 4
            }, {
                label: 'Датчик 3',
                data: [40,15,10,25,30],
                backgroundColor: ['white'],
                borderColor: 'blue',
                borderWidth: 4
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks:{
                    beginAtZero: true
                    }
                }]
            }
        }
    });
   </script>
  </body>
</html>