<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
    <meta charset="UTF-8">
    <title>Температура</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
    <center>
        <h1>Последние зарегестрированные температуры на датчиках</h1>
        <div class="container">
        <div class="temp">
            <p>1 датчик</p>
            <b>{{temp1}}</b>
        </div>
        <div class="temp">
            <p>2 датчик</p>
            <b>{{temp2}}</b>
        </div>
        <div class="temp">
            <p>3 датчик:</p>
            <b>{{temp3}}</b>
        </div>
        </div>
        <div class="chart_built">
            <p>Чтобы построить график введите начальную и конечную дату и время</p>
        </div>
        <form action="/get-datetime" method="post">
            <div class="radio_group">
                <label>
                    <input type="radio" name="sensor" value="all_sensors" onclick="get_all_sensors()" checked>Все датчики
                </label>
                <label>
                    <input type="radio" name="sensor" value="Temp1" onclick="get_1_sensor()">Первый датчик
                </label>
                <label>
                    <input type="radio" name="sensor" value="Temp2">Второй датчик
                </label>
                <label>
                    <input type="radio" name="sensor" value="Temp3">Третий датчик
                </label>
            </div>


            <label>Введите начальные данные: дата <input type="date" name="first_date">
            время <input type="time" name = "first_time"></label>

            <label>Введите конечные данные: дата <input type="date" name="second_date">
            время <input type="time" name="second_time"></label>

            <p><input type="submit" value="Сгенерировать">
            <input type="reset" value="Очистить поля"></p>

            <p>Доступные промежутки для анализа температуры:
            {{date1}}  -  {{date2}}</p>
    </center>
    <script>
        function get_all_sensors() {
        alert("radio changed")
        }
    </script>
    </body>
</html>

