.wrap{
    width: 930px;
    margin: 0;
    height: 120px;
}

.temp{
    float: left;
    line-height: 25px;
    margin-top: 10px;
    color: black;
    width: 300px;
    margin-right: 10px;
    text-align: center;
}